.app
.vs
res
bin/
build/
startup/games/demo/demo.res/test/
.log
lua.booster.lint.json

publish/ant_demo.exe
publish/fmod.dll
publish/fmodstudio.dll
publish/internal
publish/external/cache
publish/external/cache2
publish/external/cache3